*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 1024px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

section {
    width: 100%;
}

h2{
    padding: 40px;
    text-align: center;
    font-size: 30px;
}

h3{
    font-size: 20px;
    padding: 10px 0px 0px 0px;
}

.header{
    height: 525px;
    background-size: cover;
    background-image: url("../images/img-header.png");
    color: white;
}

.header h1{
    margin: 0;
    padding: 20px;
    font-size: 60px;
    text-align: center;
}
.header h2{
    text-align: justify;
}

.header div{
    background: rgba(114, 153, 254, 0.5);
    width: 350px;
    position: relative;
    top: 180px;
    left: 40px;
}

.skills{
    margin: 0px;
    height: 424px;
    background: #7299FE;
    color: white;
}

.skills h2{
    margin: 0;
    padding: auto;
}

.skills>div{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 5%;
}

.barra{
    background-color: white;
    width: 100%;
    height: 20px;
}

