body{
    width: 1024px;
    margin: auto;
}
header{
    height: 525px;
    background-size: cover;
    background-image: url("../images/img-header.png");
}

header h1{
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

header section div{
    width: 250px;
    position: relative;
    top: 250px;
    left: 5em;
}

header section div p{
    font-size: 25px;
}

