body{
    width: 1024px;
    margin: auto;
}
header{
    height: 525px;
    background-size: cover;
    background-image: url("../images/img-header.png");
    color: white;
}

header h1{
    margin: 0;
    padding: 20px;
    font-size: 60px;
    text-align: center;
}

header section div{
    background-color: cornflowerblue;
    opacity: 0.5;
    width: 350px;
    position: relative;
    top: 180px;
    left: 40px;
}

header section div p{
    font-size: 40px;
}

.skills{
    margin: 0px;
    width: 960px;
    background: #7299FE;
    color: white;
}

.skills h2{
    margin: 0;
    padding: auto;
}
ul{
    display: flex;
}

ul li{
    list-style: none;
    margin: 5px;
    padding: 0px 10px;
}

ul li:last-child{
    color: red;
}

ul li:first-child{
    color: purple;
    background-color: rosybrown;
}

p{
    
}



input{
    width: 400px;
    height: 100px;
    padding: 10px;
}

input[type="text"],
    [type="number"],
    [type="email"]{
        background-color: tomato;
}
input[type="text"]:hover,
    [type="number"]:hover,
    [type="email"]:hover{
        background-color: blue;
}

::selection{
    background-color: pink;
    color: purple;
}